{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      },
      "styled-jsx/babel"

//      {
//        "plugins": [
//          "styled-jsx-plugin-sass",{
//            "sassOptions": {
//              "includePaths": ["./styles"],
//              "precision": 2
//            }
//          }
//        ]
//      }
    ]
  ]
}